.header {
  text-align: center;
  margin-top: 0;
  padding: 20px 0px;
  background-color: #2c8aaa;
  border-bottom: 2px solid skyblue;
}

.container {
  height: 100%;
  display: flex;
  /* justify-self: center; */
}

.loading {
  margin: auto;
}

.movies {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}
